{% extends 'base.html.twig' %}

{% block title %}Sopranos{% endblock %}

{% block body %}
    <div class="container">
        <h1>Sopranos</h1>
        <div class="container-categories">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for categories in category %}
                    <div class="col">
                        <div class="card">
                            <img src="#" class="card-img-top" alt="#">
                            <div class="card-body">
                                <h5 class="card-title">{{ categories.name}}</h5>
                                <p class="card-text">e.</p>
                                <a href="" class="btn btn-primary">some link</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



{% endblock %}
