{% extends 'base.html.twig' %}

{% block title %} Product {% endblock %}

{% block body %}
<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for products in product %}
            <div class="col">
                <div class="card">
                    <img src="#" class="card-img-top" alt="#">
                    <div class="card-body">
                        <h5 class="card-title">{{ products.name }}</h5>
                        <p class="card-text">e.</p>
                        <a href="{{ asset('product') }}" class="btn btn-primary">bestel</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
